.conteiner {
    display: inline-block;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}


.conteiner > .row {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
}
.conteiner > .row-short{
    display: inline-block;
    width: 600px;
    margin-left:  calc(50% - 300px);
}

.conteiner .left{
    float: left;
    width: 50%;
    margin-right: 10%;
}

.conteiner .right{
    float: left;
    width: 40%;
}

@media (max-width: 900px) {
    .conteiner > .row {
        display: inline-block;
        width: 600px;
        margin-left: calc(50% - 300px);
    } 
    
}
@media (max-width: 700px) {
    .conteiner > .row-short,
    .conteiner > .row {
        width: 400px;
        margin-left:  calc(50% - 200px);
    }

    .conteiner .left{
        width: 100%;
        margin-right: 0%;
        margin-bottom: 60px;
        
        
    }
    
    .conteiner .right{
        width: 100%;
    }
}

@media (max-width: 460px) {
    .conteiner {
        padding-left: 30px;
        padding-right: 30px;
    }
    .conteiner > .row-short,
    .conteiner > .row {
        width: 100%;
        margin-left:  0;
    }
}

