.btn {
    font-size: 20px;
    padding: 0.8em 1em;
    background-color: var(--secondary-color);
    border: none;
    color: white;
    border-radius: 0.1em;
    padding: 1em;
    line-height: 1em;
    cursor: pointer;
}
