/* base */
@import '../base/reset.css';
@import '../base/variables.css';
@import '../base/layout.css';

/* 3rd-party*/
@import '../components/font-awesome.min.css';

/* components*/
@import '../components/button.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/* CUSTOMS STYLE BELOW THIS COMMENT, FOR THIS PAGE*/
.hero {
    padding-bottom: 30px;
    background-image: url(../../img/banner-1.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.hero > .row-short {
    text-align: center;
}

.hero .logo {
    width: 100%;
    height: 50px;
    margin-bottom: 35px;
    object-fit: contain;
    object-position: center;
}

.hero .main-title {
    margin-bottom: 15px;
    font-size: 44px;
    text-transform: uppercase;
}

.hero .main-description {
    margin-bottom: 30px;
    font-size: 18px;
    color: #777;
}

.hero .clock {
    margin-bottom: 30px;
}
.hero .form {
    width: 90%;
    margin: 0 5% 15px;
}
.hero .form > .input {
    color: white;
    border-color: white;
    border-bottom: 2px solid #ccc;
}

.hero .form > .input::placeholder {
    color: white;
}
.column > * {
    margin-bottom: 20px;
}
.column > *:last-child {
    margin-bottom: 0;
}

.content-title {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1em;
}
.content-description {
    font-size: 17px;
    color: #999;
}
.content-description > .link {
    color: var(--secondary-color);
    text-decoration: none;
}

.content-description > .link:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

main .form > button {
    float: right;
}
@media (min-width: 900px) {
    main .form > input.input {
        width: calc(50% - 10px);
    }

    main .form > input.input:last-child {
        float: right;
    }
}

footer.conteiner {
    padding-top: 0;
    font-size: 17px;
    text-align: center;
    color: #fff8;
}

.socials {
    padding: 15px 0;
    border-bottom: 2px solid white;
}
.socials > .fa {
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    border-radius: 50%;
    transition: all is;
}
.socials > .fa:hover {
    background-color: white;
    color: var(--primary-color);
}

footer .logo {
    max-height: 50px;
    width: 100%;
    margin: 50px 0;
    object-fit: contain;
    object-position: top;
}
footer .trio {
    display: inline-block;
}
footer .trio > p {
    float: left;
    padding: 0 10px;
    position: relative;
}

footer .trio > p::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 15px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}

footer .trio > p:first-child::before {
    display: none;
}

footer .link {
    color: white;
    text-decoration: none;
}

@media (max-width: 700px) {
    footer .trio > p {
        width: 100%;
    }
    footer .trio > p::before {
        display: none;
    }
}
