/* base */
@import '../base/reset.css';
@import '../base/variables.css';
@import '../base/layout.css';

/* 3rd-party*/


/* components*/
@import '../components/button.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/* CUSTOMS STYLE BELOW THIS COMMENT, FOR THIS PAGE*/ 
.hero {
    padding-bottom: 30px;
}
.hero > .row-short{
    text-align: center;
}

.hero .logo {
    width: 100%;
    height: 50px;
    margin-bottom: 35px;
    object-fit: contain;
}

.hero .main-title{
    margin-bottom: 20px;
    font-size: 54px;
    text-transform: uppercase;
}

.hero .main-description{
    margin-bottom: 45px;
    font-size: 18px;
    color: #777;
}

.hero .clock{
    margin-bottom: 45px;
}
.hero .form{
    margin-bottom: 15px;
}