/* base */
@import '../base/reset.css';
@import '../base/variables.css';
@import '../base/layout.css';

/* 3rd-party*/


/* components*/
@import '../components/button.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/* CUSTOMS STYLE BELOW THIS COMMENT, FOR THIS PAGE*/ 
.hero {
    padding-bottom: 30px;
    background-image: url(../../img/banner-1.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.hero > .row-short{
    text-align: center;
}

.hero .logo {
    width: 100%;
    height: 50px;
    margin-bottom: 35px;
    object-fit: contain;
}

.hero .main-title{
    margin-bottom: 20px;
    font-size: 54px;
    text-transform: uppercase;
}

.hero .main-description{
    margin-bottom: 30px;
    font-size: 18px;
    color: #777;
}

.hero .clock{
    margin-bottom: 30px;
}
.hero .form{
    margin-bottom: 15px;
}
.column > * {
    margin-bottom: 20px;
}
.column > *:last-child{
    margin-bottom: 0;
}

.content-title{
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1em;
    
}
.content-description{
    font-size: 17px;
    color: #999;
    

}
.content-description > .link{
    color: var(--secondary-color);
    text-decoration: none;
}

.content-description > .link:hover{
    color: var(--secondary-color);
    text-decoration: underline;
}


.progress-bar {
    
}